<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
     <title>{% block title %} The agency {% endblock%}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{ asset('assets/css/agence.css') }}" rel="stylesheet">
   

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="col-sm-4 offset-md-1 py-4">
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center">
        <small>Un bien qui le vaut bien</small>
      </a>
      <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center"><strong>Agency</strong></a>
       <div class="navbar-brand-item">
        <a href="{{ path('home') }}">Accueil</a></li>
        <a href="{{ path('products') }} ">Nos biens</a></li>
         {% if app.user %}
         <a href="{{ path('account') }}">Mon compte <small>({{app.user.prenom}})</small></a> | <a href="{{ path('app_logout')}}">Déconnexion</a>
         {% else %}
         <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
         {% endif %}
      </div>
    </div>
  </div>
</header>

 {% for type, messages in app.flashes %}
                <div class="alert alert-{{type}}">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endfor %}

<div class=container >

{% block content %}{% endblock %}
 
</div>

 {#<footer class="footer-custom">
        <small><p>&copy; 2017-2020 Agency<br/></small>
         <small>Un bien qui le vaut bien<br/></small>
        <small><a href="#">Privacy</a>-<a href="#">Terms</a></p></small>
    </footer>#}

  
    <script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
  </body>
</html>